fastapi==0.115.6
uvicorn[standard]==0.34.0
deepface==0.0.93
tf-keras==2.19.0
numpy==1.24.3
supabase==2.11.0
python-multipart==0.0.20
opencv-python-headless==4.8.1.78
python-dotenv==1.0.1
requests==2.32.3
pytz==2024.2