fastapi==0.115.6
uvicorn[standard]==0.34.0
tensorflow-cpu==2.15.0
deepface==0.0.89
numpy==1.24.3
supabase==2.11.0
python-multipart==0.0.20
opencv-python-headless==4.8.1.78
python-dotenv==1.0.1
requests==2.32.3
pytz
retina-face==0.0.17